body {
  margin: 0;
  padding: 0;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0; 
  right: 0;

  overflow: hidden;

  background-color: white;
}

#container {
  position: absolute;
  height: 100%;
  width: 100%;
}

#background {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  opacity: 1;
  background-color: #333;
  transition: opacity .2s ease-in;
}

#background.hidden {
  opacity: 0;
  transition: opacity .2s ease-out;
}
